openapi: 3.0.3
info:
  title: PulsoATS API
  version: 1.0.0
servers:
  - url: https://api.pulsoats.com
tags:
  - name: auth
  - name: market
  - name: analysis
  - name: live
paths:
  # ─── Auth ───────────────────────────────────────────────────────────────────
  /auth/register:
    post:
      summary: Регистрация пользователя
      description: Создаёт аккаунт по инвайт-токену и отправляет письмо для подтверждения email.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201': {description: Пользователь зарегистрирован}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/login:
    post:
      summary: Вход
      description: Проверяет учётные данные и выдаёт пару access/refresh токенов.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Токены выданы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/refresh:
    post:
      summary: Обновление токенов
      description: Обменивает refresh-токен на новую пару access/refresh.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/verify:
    get:
      summary: Подтверждение email
      description: Подтверждает почту пользователя по токену из письма.
      tags: [auth]
      parameters:
        - in: query
          name: token
          required: true
          schema: {type: string}
      responses:
        '204': {description: Почта подтверждена}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/reset/request:
    post:
      summary: Запрос сброса пароля
      description: Отправляет письмо со ссылкой на смену пароля, если указанный email существует.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetEmailRequest'
      responses:
        '200': {description: Письмо отправлено}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/reset:
    post:
      summary: Сброс пароля
      description: Меняет пароль по токену из письма и отзывает активные сессии.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200': {description: Пароль обновлён}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/change:
    post:
      summary: Смена пароля
      description: Меняет пароль текущего пользователя и отзывает остальные сессии.
      tags: [auth]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200': {description: Пароль изменён}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/sessions:
    get:
      summary: Активные сессии
      description: Возвращает список активных сессий текущего пользователя.
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список активных сессий
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/sessions/{session_id}:
    delete:
      summary: Завершить сессию
      description: Отзывает указанную сессию пользователя по её идентификатору.
      tags: [auth]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/SessionID'}
      responses:
        '204': {description: Сессия завершена}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/profile:
    get:
      summary: Профиль пользователя
      description: Возвращает информацию о текущем пользователе.
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Профиль пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/logout:
    delete:
      summary: Выход из текущей сессии
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '204': {description: Выход выполнен}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/logout-all:
    delete:
      summary: Выход из всех сессий
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '204': {description: Остальные сессии отозваны}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Admin ──────────────────────────────────────────────────────────────────
  /admin/invite-tokens:
    post:
      summary: Создать инвайт-токен
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '201':
          description: Инвайт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInviteTokenResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}
    get:
      summary: Список инвайт-токенов
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список инвайтов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InviteToken'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}
  /admin/invite-tokens/{token_id}:
    delete:
      summary: Отозвать инвайт-токен
      tags: [auth]
      security: [{bearerAuth: []}]
      parameters:
        - in: path
          name: token_id
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204': {description: Инвайт отозван}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Market ─────────────────────────────────────────────────────────────────
  /market/symbols:
    get:
      summary: Список символов
      description: Возвращает инструменты для выбранной биржи и категории.
      tags: [market]
      security: [{bearerAuth: []}]
      parameters:
        - in: query
          name: exchange
          required: true
          schema: {type: string}
          description: Код биржи (например, bybit).
        - in: query
          name: category
          required: true
          schema: {type: string}
          description: Категория инструментов (например, linear).
      responses:
        '200':
          description: Список инструментов
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbols:
                    type: array
                    items: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /market/symbols/suggest:
    get:
      summary: Автодополнение символов
      description: Возвращает список инструментов, подходящих под поисковый запрос.
      tags: [market]
      security: [{bearerAuth: []}]
      parameters:
        - in: query
          name: exchange
          required: true
          schema: {type: string}
          description: Код биржи.
        - in: query
          name: query
          schema: {type: string}
          description: Строка поиска (может быть пустой — вернёт первые N символов).
        - in: query
          name: limit
          schema: {type: integer, minimum: 1, default: 20}
          description: Максимальное количество результатов.
      responses:
        '200':
          description: Список подсказок
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarketSpec'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Analysis ───────────────────────────────────────────────────────────────
  /analysis/info:
    get:
      summary: Информация о сервисе анализа
      tags: [analysis]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Метаданные сервиса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /analysis/metrics:
    get:
      summary: Метрики сервиса анализа
      tags: [analysis]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Текущие метрики сервиса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetrics'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /analysis/runs:
    get:
      summary: Список прогонов
      description: |
        Возвращает постраничный список аналитических прогонов.

        **Фильтрация** управляется параметром `filter`:
        - `mine` *(по умолчанию)* — только прогоны текущего пользователя
        - `shared` — прогоны, расшаренные другими пользователями
        - `all` — все прогоны

        **Пагинация** курсорная: передайте `beforeId` из поля `nextBeforeId` предыдущего ответа для следующей страницы.
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters:
        - in: query
          name: filter
          schema:
            type: string
            enum: [mine, shared, all]
            default: mine
        - in: query
          name: limit
          schema: {type: integer, minimum: 1, default: 20}
        - in: query
          name: beforeId
          schema: {type: string, format: uuid}
          description: Курсор пагинации из поля `nextBeforeId` предыдущего ответа.
      responses:
        '200':
          description: Страница прогонов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisListRunsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Запустить прогон
      description: Создаёт и запускает новый аналитический прогон.
      tags: [analysis]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisNewRunRequest'
      responses:
        '201':
          description: Прогон запущен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisRun'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /analysis/runs/{run_id}:
    get:
      summary: Прогон по ID
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: Данные прогона
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisRun'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    delete:
      summary: Удалить прогон
      description: Удаляет прогон. Прогон должен принадлежать текущему пользователю.
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '204': {description: Прогон удалён}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /analysis/runs/{run_id}/stream:
    get:
      summary: SSE-стрим прогона
      description: |
        Открывает Server-Sent Events соединение и отдаёт состояние прогона в реальном времени (опрос каждые 2 с).

        **Формат событий:**
        ```
        data: <AnalysisRun JSON>
        ```
        Финальное событие при завершении:
        ```
        data: <AnalysisRun JSON>

        event: done
        ```
        Ошибка gRPC:
        ```
        event: error
        data: {"code":"internal","message":"..."}
        ```
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: SSE-поток
          content:
            text/event-stream:
              schema: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /analysis/runs/{run_id}/result:
    get:
      summary: Скачать результат прогона
      description: Возвращает ZIP-архив с результатами прогона.
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: ZIP-архив
          content:
            application/zip:
              schema: {type: string, format: binary}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /analysis/runs/{run_id}/share:
    patch:
      summary: Расшарить прогон
      description: Делает прогон видимым другим пользователям (filter=shared).
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: Прогон расшарен
          content:
            application/json:
              schema:
                type: object
                properties:
                  shared: {type: boolean, example: true}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Live ────────────────────────────────────────────────────────────────────
  /live/services:
    get:
      summary: Список live-сервисов
      tags: [live]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список зарегистрированных сервисов
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceInfo'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Зарегистрировать live-сервис
      description: Подключает новый live-сервис по gRPC-адресу. Только для администраторов.
      tags: [live]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterServiceRequest'
      responses:
        '201':
          description: Сервис зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}:
    delete:
      summary: Удалить live-сервис
      description: Отключает сервис из пула. Только для администраторов.
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      responses:
        '204': {description: Сервис удалён}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/info:
    get:
      summary: Информация о сервисе
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      responses:
        '200':
          description: Метаданные сервиса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/metrics:
    get:
      summary: Метрики сервиса
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      responses:
        '200':
          description: Текущие метрики сервиса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetrics'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/catalog/exchanges:
    get:
      summary: Доступные биржи
      description: Возвращает биржи, поддерживаемые данным live-сервисом.
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      responses:
        '200':
          description: Список бирж
          content:
            application/json:
              schema:
                type: object
                properties:
                  exchanges:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExchangeMeta'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/catalog/detectors:
    get:
      summary: Доступные детекторы
      description: Возвращает детекторы, поддерживаемые данным live-сервисом.
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      responses:
        '200':
          description: Список детекторов
          content:
            application/json:
              schema:
                type: object
                properties:
                  detectors:
                    type: array
                    items:
                      $ref: '#/components/schemas/DetectorMeta'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/runs:
    get:
      summary: Список прогонов конкретного live-сервиса
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
        - in: query
          name: limit
          schema: {type: integer, minimum: 1, default: 20}
        - in: query
          name: beforeId
          schema: {type: string, format: uuid}
          description: Курсор пагинации из поля `nextBeforeId` предыдущего ответа.
        - in: query
          name: statusCode
          schema: {type: integer}
          description: Фильтр по коду статуса прогона.
        - in: query
          name: interval
          schema: {type: string}
          description: Фильтр по интервалу (например, 1h).
      responses:
        '200':
          description: Страница прогонов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveListRunsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    delete:
      summary: Остановить все прогоны
      description: Останавливает все активные прогоны сервиса.
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      responses:
        '204': {description: Все прогоны остановлены}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Запустить live-прогон
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveNewRunRequest'
      responses:
        '201':
          description: Прогон запущен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveRun'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/runs/{run_id}:
    get:
      summary: Live-прогон по ID
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: Данные прогона
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveRun'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    delete:
      summary: Остановить прогон
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '204': {description: Прогон остановлен}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/runs/{run_id}/restart:
    post:
      summary: Перезапустить прогон
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: Прогон перезапущен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveRun'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/signals:
    get:
      summary: Список сигналов
      description: Возвращает постраничный список сигналов сервиса. Можно фильтровать по прогону.
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
        - in: query
          name: limit
          schema: {type: integer, minimum: 1, default: 50}
        - in: query
          name: beforeId
          schema: {type: string, format: uuid}
          description: Курсор пагинации из поля `nextBeforeId` предыдущего ответа.
        - in: query
          name: runId
          schema: {type: string, format: uuid}
          description: Фильтр по конкретному прогону.
      responses:
        '200':
          description: Страница сигналов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveListSignalsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /live/services/{exchange}/{account}/events:
    get:
      summary: SSE-стрим событий сервиса
      description: |
        Открывает Server-Sent Events соединение и отдаёт события прогонов и сигналов в реальном времени.

        **Типы событий:**

        Обновление прогона:
        ```
        event: run
        data: <LiveRun JSON>
        ```
        Новый сигнал:
        ```
        event: signal
        data: <Signal JSON>
        ```
        Поток завершён:
        ```
        event: done
        data: {}
        ```
      tags: [live]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/Exchange'}
        - {$ref: '#/components/parameters/Account'}
      responses:
        '200':
          description: SSE-поток событий
          content:
            text/event-stream:
              schema: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    RunID:
      in: path
      name: run_id
      required: true
      schema: {type: string, format: uuid}
      description: UUID прогона.
    SessionID:
      in: path
      name: session_id
      required: true
      schema: {type: string, format: uuid}
      description: UUID сессии.
    Exchange:
      in: path
      name: exchange
      required: true
      schema: {type: string}
      description: Код биржи (например, bybit).
    Account:
      in: path
      name: account
      required: true
      schema: {type: string}
      description: Имя аккаунта на бирже.

  responses:
    Unauthorized:
      description: Неавторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: unauthorized
            message: Unauthorized
    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InvalidInput:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: invalid_input
            message: exchange is required
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: not_found
            message: not_found
    Conflict:
      description: Конфликт данных (ресурс уже существует)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: conflict
            message: already exists
    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: internal
            message: Internal server error

  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          enum: [invalid_input, unauthorized, forbidden, not_found, conflict, internal]
        message:
          type: string

    # ── Auth ────────────────────────────────────────────────────────────────
    RegisterRequest:
      type: object
      required: [email, password, inviteToken]
      properties:
        email: {type: string, format: email}
        password: {type: string, minLength: 8}
        inviteToken: {type: string}
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: {type: string, format: email}
        password: {type: string}
    TokenPair:
      type: object
      properties:
        accessToken: {type: string}
        refreshToken: {type: string}
    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: {type: string}
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword: {type: string}
        newPassword: {type: string, minLength: 8}
    PasswordResetEmailRequest:
      type: object
      required: [email]
      properties:
        email: {type: string, format: email}
    ResetPasswordRequest:
      type: object
      required: [resetPasswordToken, newPassword]
      properties:
        resetPasswordToken: {type: string}
        newPassword: {type: string, minLength: 8}
    InviteToken:
      type: object
      properties:
        id: {type: string, format: uuid}
        createdBy: {type: string, format: uuid}
        expiresAt: {type: string, format: date-time}
        usedBy: {type: string, format: uuid, nullable: true}
        usedAt: {type: string, format: date-time, nullable: true}
        createdAt: {type: string, format: date-time}
    CreateInviteTokenResponse:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/InviteToken'
        link: {type: string}
    SessionResponse:
      type: object
      properties:
        id: {type: string, format: uuid}
        userAgent: {type: string, nullable: true}
        ipAddress: {type: string, nullable: true}
        createdAt: {type: string, format: date-time}
    UserProfile:
      type: object
      properties:
        id: {type: string, format: uuid}
        email: {type: string, format: email}
        role: {type: string, example: user}
        createdAt: {type: string, format: date-time}

    # ── Shared ──────────────────────────────────────────────────────────────
    MarketSpec:
      type: object
      required: [exchange, category, symbol]
      properties:
        exchange: {type: string, example: bybit}
        category: {type: string, example: linear}
        symbol: {type: string, example: BTCUSDT}
    DetectorConfig:
      type: object
      required: [code]
      properties:
        code: {type: string}
        optsLabel: {type: string}
        opts:
          type: object
          additionalProperties: true
    DetectorMeta:
      type: object
      properties:
        code: {type: string}
        kind: {type: string}
        version: {type: string}
        description: {type: string}
        optsSchema:
          type: object
          additionalProperties: true
    ExchangeMeta:
      type: object
      properties:
        code: {type: string}
        categories: {type: array, items: {type: string}}
        intervals: {type: array, items: {type: string}}
    RunStatus:
      type: object
      description: |
        | code | Описание                    |
        |------|-----------------------------|
        | 0    | unspecified                 |
        | 1    | pending — в очереди         |
        | 2    | running — выполняется       |
        | 3    | done — успешно завершён     |
        | 4    | failed — завершился с ошибкой |
      properties:
        code:
          type: integer
          enum: [0, 1, 2, 3, 4]
          example: 2
        message:
          type: string
          description: Описание ошибки при code=4.
    BaseRun:
      type: object
      description: Общие поля прогона (присутствуют и в analysis, и в live).
      properties:
        id: {type: string, format: uuid}
        status:
          $ref: '#/components/schemas/RunStatus'
        market:
          $ref: '#/components/schemas/MarketSpec'
        interval: {type: string, example: 1h}
        firstCandleTime: {type: string, format: date-time, nullable: true}
        lastCandleTime: {type: string, format: date-time, nullable: true}
        detector:
          $ref: '#/components/schemas/DetectorConfig'
        signalsCount: {type: integer}
        createdBy: {type: string, format: uuid}
        createdAt: {type: string, format: date-time}
    ServiceInfo:
      type: object
      properties:
        id: {type: string, format: uuid}
        kind: {type: string}
        address: {type: string, description: gRPC-адрес сервиса.}
        name: {type: string}
        exchange: {type: string}
        account: {type: string}
        version: {type: string}
        lastSeenAt: {type: string, format: date-time, nullable: true}
        createdAt: {type: string, format: date-time, nullable: true}
    ServiceMetrics:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, unknown]
        cpuPercent: {type: number, format: float}
        memoryPercent: {type: number, format: float}
        uptimeSeconds: {type: string, description: Строковое представление int64.}
        reportedAt: {type: string, format: date-time}

    # ── Analysis ────────────────────────────────────────────────────────────
    AnalysisNewRunRequest:
      type: object
      required: [market, interval, fromTime, toTime, detector]
      properties:
        market:
          $ref: '#/components/schemas/MarketSpec'
        interval: {type: string, example: 1h}
        fromTime: {type: string, format: date-time}
        toTime: {type: string, format: date-time}
        detector:
          $ref: '#/components/schemas/DetectorConfig'
        fees:
          $ref: '#/components/schemas/TakerMakerFees'
    TakerMakerFees:
      type: object
      properties:
        takerFee: {type: number, format: float, example: 0.0005}
        makerFee: {type: number, format: float, example: 0.0001}
    AnalysisRun:
      allOf:
        - $ref: '#/components/schemas/BaseRun'
        - type: object
          properties:
            avgProfitPercent:
              type: number
              format: float
              description: Средняя прибыль по всем сигналам (0.0083 = 0.83%).
            isShared: {type: boolean}
            sharedAt: {type: string, format: date-time, nullable: true}
    AnalysisListRunsResponse:
      type: object
      properties:
        runs:
          type: array
          items:
            $ref: '#/components/schemas/AnalysisRun'
        nextBeforeId:
          type: string
          format: uuid
          nullable: true
          description: Курсор для следующей страницы.
        hasMore: {type: boolean}

    # ── Live ────────────────────────────────────────────────────────────────
    RegisterServiceRequest:
      type: object
      required: [addr]
      properties:
        addr: {type: string, description: gRPC-адрес live-сервиса (host:port).}
    LiveNewRunRequest:
      type: object
      required: [market, interval, detector]
      properties:
        market:
          $ref: '#/components/schemas/MarketSpec'
        interval: {type: string, example: 1h}
        detector:
          $ref: '#/components/schemas/DetectorConfig'
    LiveRun:
      allOf:
        - $ref: '#/components/schemas/BaseRun'
        - type: object
          properties:
            ordersCount: {type: integer, format: int64}
            sumProfitPercent: {type: number, format: float}
            finishedAt: {type: string, format: date-time, nullable: true}
            finishedBy: {type: string, nullable: true, description: Кто завершил прогон (user ID или системная причина).}
    LiveListRunsResponse:
      type: object
      properties:
        runs:
          type: array
          items:
            $ref: '#/components/schemas/LiveRun'
        nextBeforeId:
          type: string
          format: uuid
          nullable: true
        hasMore: {type: boolean}
    Signal:
      type: object
      properties:
        id: {type: string, format: uuid}
        runId: {type: string, format: uuid}
        market:
          $ref: '#/components/schemas/MarketSpec'
        detectorCode: {type: string}
        detectorOptsLabel: {type: string}
        time: {type: integer, format: int64, description: Unix timestamp сигнала в миллисекундах.}
        value: {type: integer, format: int64}
        buyValue: {type: integer, format: int64}
        takeProfitValue: {type: integer, format: int64}
        stopLossValue: {type: integer, format: int64}
        expectedReturnPpm: {type: integer, format: int64, description: Ожидаемая доходность в PPM (1 000 000 = 100%).}
        fingerprint: {type: string, format: uuid}
        createdAt: {type: integer, format: int64, description: Unix timestamp создания в миллисекундах.}
    LiveListSignalsResponse:
      type: object
      properties:
        signals:
          type: array
          items:
            $ref: '#/components/schemas/Signal'
        nextBeforeId:
          type: string
          format: uuid
          nullable: true
        hasMore: {type: boolean}
