openapi: 3.0.3
info:
  title: PulsoATS API
  version: 2.0.0
servers:
  - url: https://api.pulsoats.com
tags:
  - name: auth
  - name: market
  - name: analysis
  - name: accounts
  - name: workers
  - name: nodes
  - name: runs
  - name: signals

paths:
  # ─── Auth ───────────────────────────────────────────────────────────────────
  /auth/register:
    post:
      summary: Регистрация
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RegisterRequest'}
      responses:
        '201': {description: Зарегистрирован}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/login:
    post:
      summary: Вход
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LoginRequest'}
      responses:
        '200':
          description: Токены выданы
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TokenPair'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/refresh:
    post:
      summary: Обновление токенов
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RefreshTokenRequest'}
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema: {$ref: '#/components/schemas/TokenPair'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/verify:
    get:
      summary: Подтверждение email
      tags: [auth]
      parameters:
        - {in: query, name: token, required: true, schema: {type: string}}
      responses:
        '204': {description: Почта подтверждена}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/password/reset/request:
    post:
      summary: Запрос сброса пароля
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PasswordResetEmailRequest'}
      responses:
        '200': {description: Письмо отправлено}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/password/reset:
    post:
      summary: Сброс пароля
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ResetPasswordRequest'}
      responses:
        '200': {description: Пароль обновлён}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/password/change:
    post:
      summary: Смена пароля
      tags: [auth]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChangePasswordRequest'}
      responses:
        '200': {description: Пароль изменён}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/sessions:
    get:
      summary: Активные сессии
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список сессий
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/SessionResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/sessions/{session_id}:
    delete:
      summary: Завершить сессию
      tags: [auth]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/SessionID'}]
      responses:
        '204': {description: Сессия завершена}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/profile:
    get:
      summary: Профиль
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Профиль пользователя
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UserProfile'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/logout:
    delete:
      summary: Выход из текущей сессии
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '204': {description: Выход выполнен}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}

  /auth/logout-all:
    delete:
      summary: Выход из всех сессий
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '204': {description: Все сессии отозваны}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Admin ──────────────────────────────────────────────────────────────────
  /admin/invite-tokens:
    post:
      summary: Создать инвайт-токен
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '201':
          description: Инвайт создан
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CreateInviteTokenResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}
    get:
      summary: Список инвайт-токенов
      tags: [auth]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список инвайтов
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/InviteToken'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}

  /admin/invite-tokens/{token_id}:
    delete:
      summary: Отозвать инвайт-токен
      tags: [auth]
      security: [{bearerAuth: []}]
      parameters:
        - {in: path, name: token_id, required: true, schema: {type: string, format: uuid}}
      responses:
        '204': {description: Инвайт отозван}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Admin / Nodes ───────────────────────────────────────────────────────────
  /admin/nodes:
    post:
      summary: Добавить ноду
      description: |
        Регистрирует ноду и опционально разворачивает TimescaleDB на удалённом Docker-хосте.
        Асинхронно — возвращает 202, статус отслеживать через `GET /admin/nodes/{node_id}`.
        Если передан `dsn` — существующая БД используется как есть, деплой не выполняется.
      tags: [nodes]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateNodeRequest'}
      responses:
        '202':
          description: Развёртывание запущено
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Node'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    get:
      summary: Список нод
      tags: [nodes]
      security: [{bearerAuth: []}]
      parameters:
        - {in: query, name: exchange, schema: {type: string}, description: Фильтр по бирже.}
      responses:
        '200':
          description: Список нод
          content:
            application/json:
              schema: {$ref: '#/components/schemas/NodesResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}

  /admin/nodes/{node_id}:
    get:
      summary: Нода по ID
      tags: [nodes]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/NodeID'}]
      responses:
        '200':
          description: Данные ноды
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Node'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
    delete:
      summary: Удалить ноду
      description: Нода должна быть в статусе `disabled`.
      tags: [nodes]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/NodeID'}]
      responses:
        '204': {description: Нода удалена}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '500': {$ref: '#/components/responses/InternalError'}

  /admin/nodes/{node_id}/disable:
    post:
      summary: Отключить ноду
      description: Асинхронно — останавливает все воркеры и ноду. Статус `disabling` → `disabled`.
      tags: [nodes]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/NodeID'}]
      responses:
        '202': {description: Отключение запущено}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '500': {$ref: '#/components/responses/InternalError'}

  /admin/nodes/{node_id}/enable:
    post:
      summary: Включить ноду
      description: Переподключается к Docker-хосту и перезапускает остановленные воркеры.
      tags: [nodes]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/NodeID'}]
      responses:
        '204': {description: Нода включена}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Market ─────────────────────────────────────────────────────────────────
  /market/symbols:
    get:
      summary: Список символов
      tags: [market]
      security: [{bearerAuth: []}]
      parameters:
        - {in: query, name: exchange, required: true, schema: {type: string}}
        - {in: query, name: category, required: true, schema: {type: string}}
      responses:
        '200':
          description: Список инструментов
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbols: {type: array, items: {type: string}}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /market/symbols/suggest:
    get:
      summary: Автодополнение символов
      tags: [market]
      security: [{bearerAuth: []}]
      parameters:
        - {in: query, name: exchange, required: true, schema: {type: string}}
        - {in: query, name: query, schema: {type: string}}
        - {in: query, name: limit, schema: {type: integer, default: 20}}
      responses:
        '200':
          description: Список подсказок
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items: {$ref: '#/components/schemas/MarketSpec'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Analysis ───────────────────────────────────────────────────────────────
  /analysis/catalog/exchanges:
    get:
      summary: Доступные биржи (analysis)
      tags: [analysis]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список бирж
          content:
            application/json:
              schema:
                type: object
                properties:
                  exchanges:
                    type: array
                    items: {$ref: '#/components/schemas/ExchangeMeta'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}

  /analysis/catalog/detectors:
    get:
      summary: Доступные детекторы (analysis)
      tags: [analysis]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список детекторов
          content:
            application/json:
              schema:
                type: object
                properties:
                  detectors:
                    type: array
                    items: {$ref: '#/components/schemas/DetectorMeta'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}

  /analysis/runs:
    get:
      summary: Список прогонов
      description: |
        Курсорная пагинация. Область видимости задаётся параметром `scope`:
        - `1` — прогоны текущего пользователя
        - `2` — расшаренные другими
        - `3` — все
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters:
        - {in: query, name: scope, required: true, schema: {type: integer, enum: [1, 2, 3]}, description: "1=mine, 2=shared, 3=all"}
        - {in: query, name: limit, schema: {type: integer, default: 20}}
        - {in: query, name: before_id, schema: {type: string, format: uuid}}
        - {in: query, name: order_dir_asc, schema: {type: boolean}}
        - {in: query, name: exchanges, schema: {type: array, items: {type: string}}}
        - {in: query, name: categories, schema: {type: array, items: {type: string}}}
        - {in: query, name: symbols, schema: {type: array, items: {type: string}}}
        - {in: query, name: intervals, schema: {type: array, items: {type: string}}}
        - {in: query, name: detector_codes, schema: {type: array, items: {type: string}}}
        - {in: query, name: statuses, schema: {type: array, items: {type: integer}}}
        - {in: query, name: min_signals, schema: {type: integer, format: int64}}
        - {in: query, name: max_signals, schema: {type: integer, format: int64}}
        - {in: query, name: min_avg_profit_pct, schema: {type: number, format: float}}
        - {in: query, name: max_avg_profit_pct, schema: {type: number, format: float}}
        - {in: query, name: first_candle_from, schema: {type: string, format: date-time}}
        - {in: query, name: last_candle_to, schema: {type: string, format: date-time}}
        - {in: query, name: created_from, schema: {type: string, format: date-time}}
        - {in: query, name: created_to, schema: {type: string, format: date-time}}
      responses:
        '200':
          description: Страница прогонов
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AnalysisRunsResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Запустить прогон
      tags: [analysis]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AnalysisNewRunRequest'}
      responses:
        '201':
          description: Прогон запущен
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AnalysisRun'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /analysis/runs/{run_id}:
    get:
      summary: Прогон по ID
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RunID'}]
      responses:
        '200':
          description: Данные прогона
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AnalysisRun'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
    delete:
      summary: Удалить прогон
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RunID'}]
      responses:
        '204': {description: Прогон удалён}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /analysis/runs/{run_id}/stream:
    get:
      summary: SSE-стрим прогона
      description: |
        Server-Sent Events, опрос каждые 2 с.
        ```
        data: <AnalysisRun JSON>
        event: done
        data: <AnalysisRun JSON>
        ```
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RunID'}]
      responses:
        '200':
          description: SSE-поток
          content:
            text/event-stream:
              schema: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /analysis/runs/{run_id}/result:
    get:
      summary: Скачать результат
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RunID'}]
      responses:
        '200':
          description: ZIP-архив
          content:
            application/zip:
              schema: {type: string, format: binary}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /analysis/runs/{run_id}/share:
    patch:
      summary: Расшарить прогон
      tags: [analysis]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RunID'}]
      responses:
        '200':
          description: Прогон расшарен
          content:
            application/json:
              schema:
                type: object
                properties:
                  shared: {type: boolean}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Accounts ───────────────────────────────────────────────────────────────
  /accounts:
    get:
      summary: Список аккаунтов
      tags: [accounts]
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Список биржевых аккаунтов
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AccountsResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Создать аккаунт
      tags: [accounts]
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateAccountRequest'}
      responses:
        '201': {description: Аккаунт создан}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}:
    get:
      summary: Аккаунт по ID
      tags: [accounts]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '200':
          description: Данные аккаунта
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Account'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/name:
    patch:
      summary: Переименовать аккаунт
      tags: [accounts]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: {type: string, minLength: 1}
      responses:
        '204': {description: Имя обновлено}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/catalog/exchanges:
    get:
      summary: Доступные биржи
      tags: [accounts]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '200':
          description: Список бирж
          content:
            application/json:
              schema:
                type: object
                properties:
                  exchanges:
                    type: array
                    items: {$ref: '#/components/schemas/ExchangeMeta'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/catalog/detectors:
    get:
      summary: Доступные детекторы
      tags: [accounts]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '200':
          description: Список детекторов
          content:
            application/json:
              schema:
                type: object
                properties:
                  detectors:
                    type: array
                    items: {$ref: '#/components/schemas/DetectorMeta'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Workers ─────────────────────────────────────────────────────────────────
  /workers:
    get:
      summary: Список воркеров
      description: |
        Параметры `exchange` и `node_id` взаимоисключающие.
        Без параметров — все воркеры.
      tags: [workers]
      security: [{bearerAuth: []}]
      parameters:
        - {in: query, name: exchange, schema: {type: string}, description: Фильтр по бирже.}
        - {in: query, name: node_id, schema: {type: string, format: uuid}, description: Фильтр по ноде.}
      responses:
        '200':
          description: Список воркеров
          content:
            application/json:
              schema: {$ref: '#/components/schemas/WorkersResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/worker:
    get:
      summary: Воркер аккаунта
      tags: [workers]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '200':
          description: Данные воркера
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Worker'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Создать воркер
      description: Разворачивает контейнер воркера на наименее загруженной ноде. Асинхронно — возвращает 202, статус отслеживать через GET.
      tags: [workers]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '202':
          description: Развёртывание запущено
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Worker'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/worker/start:
    post:
      summary: Запустить остановленный воркер
      description: Перезапускает существующий контейнер воркера. Асинхронно — возвращает 202.
      tags: [workers]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '202':
          description: Запуск начат
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Worker'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/worker/stop:
    post:
      summary: Остановить воркер
      description: Останавливает все прогоны и контейнер воркера.
      tags: [workers]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '204': {description: Воркер остановлен}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/worker/metrics:
    get:
      summary: SSE-стрим метрик воркера
      description: |
        Server-Sent Events с метриками контейнера (CPU, память).
        ```
        event: metrics
        data: <WorkerMetrics JSON>

        event: done
        data: {}
        ```
      tags: [workers]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '200':
          description: SSE-поток метрик
          content:
            text/event-stream:
              schema: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/worker/stats:
    get:
      summary: SSE-стрим статистики воркера
      description: |
        Server-Sent Events со статистикой прогонов в реальном времени (обновляется каждые 5 с).
        ```
        event: stats
        data: <WorkerStats JSON>

        event: done
        data: {}
        ```
      tags: [workers]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '200':
          description: SSE-поток статистики
          content:
            text/event-stream:
              schema: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Runs ────────────────────────────────────────────────────────────────────
  /accounts/{account_id}/runs:
    get:
      summary: Список прогонов аккаунта
      tags: [runs]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/AccountID'}
        - {in: query, name: limit, schema: {type: integer, default: 20}}
        - {in: query, name: before_id, schema: {type: string, format: uuid}}
        - {in: query, name: order_dir_asc, schema: {type: boolean}}
        - {in: query, name: categories, schema: {type: array, items: {type: string}}}
        - {in: query, name: symbols, schema: {type: array, items: {type: string}}}
        - {in: query, name: intervals, schema: {type: array, items: {type: string}}}
        - {in: query, name: detector_codes, schema: {type: array, items: {type: string}}}
        - {in: query, name: statuses, schema: {type: array, items: {type: integer}}}
        - {in: query, name: min_signals, schema: {type: integer, format: int64}}
        - {in: query, name: max_signals, schema: {type: integer, format: int64}}
        - {in: query, name: created_from, schema: {type: string, format: date-time}}
        - {in: query, name: created_to, schema: {type: string, format: date-time}}
      responses:
        '200':
          description: Страница прогонов
          content:
            application/json:
              schema: {$ref: '#/components/schemas/LiveRunsResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Запустить прогон
      tags: [runs]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LiveNewRunRequest'}
      responses:
        '201':
          description: Прогон запущен
          content:
            application/json:
              schema: {$ref: '#/components/schemas/LiveRun'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    delete:
      summary: Остановить все прогоны
      tags: [runs]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '204': {description: Все прогоны остановлены}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/runs/{run_id}:
    get:
      summary: Прогон по ID
      tags: [runs]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/AccountID'}
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: Данные прогона
          content:
            application/json:
              schema: {$ref: '#/components/schemas/LiveRun'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}
    delete:
      summary: Остановить прогон
      tags: [runs]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/AccountID'}
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '204': {description: Прогон остановлен}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/runs/{run_id}/restart:
    post:
      summary: Перезапустить прогон
      tags: [runs]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/AccountID'}
        - {$ref: '#/components/parameters/RunID'}
      responses:
        '200':
          description: Прогон перезапущен
          content:
            application/json:
              schema: {$ref: '#/components/schemas/LiveRun'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  # ─── Signals / Events ────────────────────────────────────────────────────────
  /accounts/{account_id}/signals:
    get:
      summary: Список сигналов
      description: Курсорная пагинация с фильтрацией по прогону, рынку, детектору и времени.
      tags: [signals]
      security: [{bearerAuth: []}]
      parameters:
        - {$ref: '#/components/parameters/AccountID'}
        - {in: query, name: limit, schema: {type: integer, default: 50}}
        - {in: query, name: before_id, schema: {type: string, format: uuid}}
        - {in: query, name: order_dir_asc, schema: {type: boolean}}
        - {in: query, name: run_id, schema: {type: string, format: uuid}}
        - {in: query, name: categories, schema: {type: array, items: {type: string}}}
        - {in: query, name: symbols, schema: {type: array, items: {type: string}}}
        - {in: query, name: intervals, schema: {type: array, items: {type: string}}}
        - {in: query, name: detector_codes, schema: {type: array, items: {type: string}}}
        - {in: query, name: created_from, schema: {type: string, format: date-time}}
        - {in: query, name: created_to, schema: {type: string, format: date-time}}
      responses:
        '200':
          description: Страница сигналов
          content:
            application/json:
              schema: {$ref: '#/components/schemas/LiveSignalsResponse'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

  /accounts/{account_id}/events:
    get:
      summary: SSE-стрим событий аккаунта
      description: |
        Server-Sent Events — прогоны и сигналы в реальном времени.

        ```
        event: run
        data: <LiveRun JSON>

        event: signal
        data: <Signal JSON>

        event: done
        data: {}
        ```

        **Паттерн использования:** при открытии экрана сначала запрашивать последние N объектов через REST, затем подключаться к SSE. Клиентская фильтрация SSE-событий по активным фильтрам.
      tags: [signals]
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/AccountID'}]
      responses:
        '200':
          description: SSE-поток
          content:
            text/event-stream:
              schema: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalError'}

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    RunID:
      in: path
      name: run_id
      required: true
      schema: {type: string, format: uuid}
    SessionID:
      in: path
      name: session_id
      required: true
      schema: {type: string, format: uuid}
    AccountID:
      in: path
      name: account_id
      required: true
      schema: {type: string, format: uuid}
    NodeID:
      in: path
      name: node_id
      required: true
      schema: {type: string, format: uuid}

  responses:
    Unauthorized:
      description: Неавторизован
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    InvalidInput:
      description: Некорректный запрос
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    Conflict:
      description: Конфликт (ресурс уже существует или неверный статус)
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    InternalError:
      description: Внутренняя ошибка
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}

  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          enum: [invalid_input, unauthorized, forbidden, not_found, conflict, internal]
        message: {type: string}

    # ── Auth ────────────────────────────────────────────────────────────────
    RegisterRequest:
      type: object
      required: [email, password, inviteToken]
      properties:
        email: {type: string, format: email}
        password: {type: string, minLength: 8}
        inviteToken: {type: string}
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: {type: string, format: email}
        password: {type: string}
    TokenPair:
      type: object
      properties:
        accessToken: {type: string}
        refreshToken: {type: string}
    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: {type: string}
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword: {type: string}
        newPassword: {type: string, minLength: 8}
    PasswordResetEmailRequest:
      type: object
      required: [email]
      properties:
        email: {type: string, format: email}
    ResetPasswordRequest:
      type: object
      required: [resetPasswordToken, newPassword]
      properties:
        resetPasswordToken: {type: string}
        newPassword: {type: string, minLength: 8}
    InviteToken:
      type: object
      properties:
        id: {type: string, format: uuid}
        createdBy: {type: string, format: uuid}
        expiresAt: {type: string, format: date-time}
        usedBy: {type: string, format: uuid, nullable: true}
        usedAt: {type: string, format: date-time, nullable: true}
        createdAt: {type: string, format: date-time}
    CreateInviteTokenResponse:
      type: object
      properties:
        token: {$ref: '#/components/schemas/InviteToken'}
        link: {type: string}
    SessionResponse:
      type: object
      properties:
        id: {type: string, format: uuid}
        userAgent: {type: string, nullable: true}
        ipAddress: {type: string, nullable: true}
        createdAt: {type: string, format: date-time}
    UserProfile:
      type: object
      properties:
        id: {type: string, format: uuid}
        email: {type: string, format: email}
        role: {type: string, example: user}
        createdAt: {type: string, format: date-time}

    # ── Shared ──────────────────────────────────────────────────────────────
    MarketSpec:
      type: object
      required: [exchange, category, symbol]
      properties:
        exchange: {type: string, example: bybit}
        category: {type: string, example: linear}
        symbol: {type: string, example: BTCUSDT}
    DetectorConfig:
      type: object
      required: [code]
      properties:
        code: {type: string}
        version: {type: string}
        optsLabel: {type: string}
        opts:
          type: object
          additionalProperties: true
    DetectorMeta:
      type: object
      properties:
        code: {type: string}
        kind: {type: string}
        version: {type: string}
        description: {type: string}
        optsSchema:
          type: object
          additionalProperties: true
    ExchangeMeta:
      type: object
      properties:
        code: {type: string}
        categories: {type: array, items: {type: string}}
        intervals: {type: array, items: {type: string}}
    RunStatus:
      type: object
      properties:
        code: {type: integer, enum: [0, 1, 2, 3, 4], example: 2}
        message: {type: string, description: Описание ошибки при code=4.}
    BaseRun:
      type: object
      properties:
        id: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/RunStatus'}
        market: {$ref: '#/components/schemas/MarketSpec'}
        interval: {type: string, example: 1h}
        firstCandleTime: {type: string, format: date-time, nullable: true}
        lastCandleTime: {type: string, format: date-time, nullable: true}
        detector: {$ref: '#/components/schemas/DetectorConfig'}
        signalsCount: {type: integer}
        createdBy: {type: string, format: uuid}
        createdAt: {type: string, format: date-time}

    # ── Nodes ───────────────────────────────────────────────────────────────
    CreateNodeRequest:
      type: object
      description: |
        Два режима:
        - **Новая БД** — передать `dbUser` и `dbPassword`. TimescaleDB будет развёрнут на Docker-хосте автоматически.
        - **Существующая БД** — передать `dsn`. `dbUser`/`dbPassword` игнорируются, БД не разворачивается.
      required: [name, exchange, host, dockerPort, region, maxWorkers]
      properties:
        name: {type: string, example: eu-central-1-node-01}
        exchange: {type: string, example: bybit}
        host: {type: string, format: ipv4, example: 10.0.0.5}
        dockerPort: {type: integer, example: 2376}
        region: {type: string, example: eu-central-1}
        maxWorkers: {type: integer, minimum: 1}
        dsn:
          type: string
          description: DSN существующей БД. Если задан — `dbUser`/`dbPassword` не нужны.
          example: postgres://user:pass@localhost:5432/pulsoats?sslmode=disable
        dbUser:
          type: string
          description: Пользователь для новой БД. Обязателен если `dsn` не задан.
        dbPassword:
          type: string
          format: password
          description: Пароль для новой БД. Обязателен если `dsn` не задан.
    Node:
      type: object
      properties:
        id: {type: string, format: uuid}
        name: {type: string}
        exchange: {type: string}
        host: {type: string}
        dockerPort: {type: integer}
        region: {type: string}
        maxWorkers: {type: integer}
        workersCount: {type: integer}
        status:
          type: string
          enum: [deploying, active, disabled, disabling, failed, disconnected]
        lastError: {type: string, nullable: true}
        createdAt: {type: string, format: date-time}
    NodesResponse:
      type: object
      properties:
        nodes:
          type: array
          items: {$ref: '#/components/schemas/Node'}

    # ── Accounts ────────────────────────────────────────────────────────────
    CreateAccountRequest:
      type: object
      required: [exchange, name, credentials, expiresAt]
      properties:
        exchange: {type: string, example: bybit}
        name: {type: string, example: Main Bybit}
        credentials:
          type: object
          required: [apiKey]
          properties:
            apiKey: {type: string}
            apiSecret: {type: string}
            passphrase: {type: string}
        expiresAt: {type: string, format: date-time}
    Account:
      type: object
      properties:
        id: {type: string, format: uuid}
        exchange: {type: string}
        name: {type: string}
        email: {type: string}
        expiresAt: {type: string, format: date-time}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}
    AccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items: {$ref: '#/components/schemas/Account'}

    # ── Workers ─────────────────────────────────────────────────────────────
    Worker:
      type: object
      properties:
        id: {type: string, format: uuid}
        nodeId: {type: string, format: uuid}
        exchangeAccountId: {type: string, format: uuid}
        name: {type: string}
        host: {type: string}
        grpcPort: {type: integer}
        containerId: {type: string}
        status:
          type: string
          enum: [deploying, running, stopped, failed]
        lastError: {type: string, nullable: true}
        createdAt: {type: string, format: date-time}
    WorkersResponse:
      type: object
      properties:
        workers:
          type: array
          items: {$ref: '#/components/schemas/Worker'}
    WorkerMetrics:
      type: object
      properties:
        cpuPercent: {type: number, format: float}
        memoryPercent: {type: number, format: float}
        memoryUsageBytes: {type: integer, format: int64}
        uptimeSeconds: {type: integer, format: int64}
    WorkerStats:
      type: object
      properties:
        runsTotal: {type: integer, format: int32}
        signalsTotal: {type: integer, format: int64}

    # ── Analysis ────────────────────────────────────────────────────────────
    AnalysisNewRunRequest:
      type: object
      required: [market, interval, fromTime, toTime, detector]
      properties:
        market: {$ref: '#/components/schemas/MarketSpec'}
        interval: {type: string, example: 1h}
        fromTime: {type: string, format: date-time}
        toTime: {type: string, format: date-time}
        detector: {$ref: '#/components/schemas/DetectorConfig'}
        fees:
          type: object
          properties:
            takerFee: {type: number, format: float, example: 0.0005}
            makerFee: {type: number, format: float, example: 0.0001}
    AnalysisRun:
      allOf:
        - {$ref: '#/components/schemas/BaseRun'}
        - type: object
          properties:
            sumProfitPercent: {type: number, format: float}
            avgProfitPercent: {type: number, format: float}
            isShared: {type: boolean}
            sharedAt: {type: string, format: date-time, nullable: true}
    AnalysisRunsResponse:
      type: object
      properties:
        runs:
          type: array
          items: {$ref: '#/components/schemas/AnalysisRun'}
        nextBeforeId: {type: string, format: uuid, nullable: true}
        hasMore: {type: boolean}

    # ── Live ────────────────────────────────────────────────────────────────
    LiveNewRunRequest:
      type: object
      required: [market, interval, detector]
      properties:
        market: {$ref: '#/components/schemas/MarketSpec'}
        interval: {type: string, example: 1h}
        detector: {$ref: '#/components/schemas/DetectorConfig'}
    LiveRun:
      allOf:
        - {$ref: '#/components/schemas/BaseRun'}
        - type: object
          properties:
            sumProfitPercent: {type: number, format: float}
            finishedAt: {type: string, format: date-time, nullable: true}
            finishedBy: {type: string, nullable: true}
    LiveRunsResponse:
      type: object
      properties:
        runs:
          type: array
          items: {$ref: '#/components/schemas/LiveRun'}
        nextBeforeId: {type: string, format: uuid, nullable: true}
        hasMore: {type: boolean}
    Signal:
      type: object
      properties:
        id: {type: string, format: uuid}
        runId: {type: string, format: uuid}
        market: {$ref: '#/components/schemas/MarketSpec'}
        detectorCode: {type: string}
        detectorVersion: {type: string}
        detectorOptsLabel: {type: string}
        candleTime: {type: integer, format: int64, description: Unix ms}
        candleValue: {type: integer, format: int64}
        buyValue: {type: integer, format: int64}
        takeProfitValue: {type: integer, format: int64}
        stopLossValue: {type: integer, format: int64}
        expectedReturnPpm: {type: integer, format: int64, description: "Доходность в PPM (1 000 000 = 100%)"}
        fingerprint: {type: string, format: uuid}
        createdAt: {type: integer, format: int64, description: Unix ms}
    LiveSignalsResponse:
      type: object
      properties:
        signals:
          type: array
          items: {$ref: '#/components/schemas/Signal'}
        nextBeforeId: {type: string, format: uuid, nullable: true}
        hasMore: {type: boolean}
