openapi: 3.0.3
info:
  title: PulsoATS API
  version: 1.0.0
servers:
  - url: https://api.pulsoats.com
paths:
  /auth/register:
    post:
      summary: Регистрация пользователя
      description: Создаёт аккаунт по инвайт-токену и отправляет письмо для подтверждения email.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201': {description: Пользователь зарегистрирован}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/login:
    post:
      summary: Вход
      description: Проверяет учётные данные и выдаёт пару access/refresh токенов.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Токены выданы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/refresh:
    post:
      summary: Обновление токенов
      description: Обменивает refresh-токен на новую пару access/refresh.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/reset/request:
    post:
      summary: Запрос сброса пароля
      description: Отправляет письмо со ссылкой на смену пароля, если указанный email существует.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetEmailRequest'
      responses:
        '200': {description: Письмо отправлено}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/reset:
    post:
      summary: Сброс пароля
      description: Меняет пароль по токену из письма и отзывает активные сессии.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200': {description: Пароль обновлён}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/change:
    post:
      summary: Смена пароля
      description: Меняет пароль текущего пользователя и отзывает остальные сессии.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200': {description: Пароль изменён}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/verify:
    get:
      summary: Подтверждение email
      description: Подтверждает почту пользователя по токену из письма.
      tags: [auth]
      parameters:
        - in: query
          name: token
          required: true
          schema: {type: string}
      responses:
        '204': {description: Почта подтверждена}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/logout:
    delete:
      summary: Выход из текущей сессии
      description: Отзывает access/refresh токены активной сессии.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '204': {description: Выход выполнен}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/logout-all:
    delete:
      summary: Выход из всех сессий
      description: Отзывает все сессии пользователя, кроме текущей.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '204': {description: Остальные сессии отозваны}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /admin/invite-tokens:
    post:
      summary: Создать инвайт-токен
      description: Админский эндпоинт для генерации разовой ссылки приглашения.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '201':
          description: Инвайт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInviteTokenResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}
    get:
      summary: Список инвайт-токенов
      description: Возвращает все токены приглашений и их статус использования (только админ).
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '200':
          description: Список инвайтов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InviteToken'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}
  /admin/invite-tokens/{token_id}:
    delete:
      summary: Отозвать инвайт-токен
      description: Удаляет неиспользованный инвайт-токен по идентификатору (только админ).
      tags: [auth]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: token_id
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204': {description: Инвайт отозван}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /market/exchanges/meta:
    get:
      summary: Список бирж
      description: Возвращает поддерживаемые биржи с категориями, интервалами и типами цен.
      tags: [market]
      security: [ {bearerAuth: []} ]
      responses:
        '200':
          description: Метаданные бирж
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExchangeMetasResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
  /market/symbols:
    get:
      summary: Список символов
      description: Возвращает инструменты для выбранной биржи и категории.
      tags: [market]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: query
          name: exchange
          required: true
          schema: {type: string}
        - in: query
          name: category
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Список инструментов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSymbolsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /detectors/meta:
    get:
      summary: Список детекторов
      description: Возвращает метаданные детекторов и схему их настроек.
      tags: [detectors]
      security: [ {bearerAuth: []} ]
      responses:
        '200':
          description: Метаданные детекторов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDetectorsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
  /runs:
    get:
      summary: Список прогонов
      description: |
        Возвращает постраничный список аналитических прогонов.

        **Фильтрация** управляется параметром `filter`:
        - `mine` *(по умолчанию)* — только прогоны текущего пользователя
        - `shared` — прогоны, расшаренные другими пользователями
        - `all` — все доступные прогоны

        **Пагинация** реализована через курсор: передайте `beforeId` со значением `nextBeforeId` из предыдущего ответа, чтобы получить следующую страницу. Параметр `limit` задаёт размер страницы (по умолчанию 20).
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: query
          name: filter
          schema:
            type: string
            enum: [mine, shared, all]
            default: mine
          description: Фильтр прогонов. Если не передан — возвращаются только прогоны текущего пользователя.
        - in: query
          name: limit
          schema: {type: integer, minimum: 1, maximum: 100, default: 20}
          description: Количество элементов на странице.
        - in: query
          name: beforeId
          schema: {type: integer}
          description: Курсор для пагинации. Берётся из поля `nextBeforeId` предыдущего ответа.
      responses:
        '200':
          description: Страница прогонов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Запустить прогон
      description: Стартует новый прогон для указанного рынка и детектора.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRunRequest'
      responses:
        '201':
          description: Прогон запущен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRunResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /runs/{run_id}/meta:
    get:
      summary: Метаданные прогона
      description: |
        Возвращает снимок метаданных прогона в текущий момент: рыночные параметры, детектор,
        временной диапазон, количество сигналов, среднюю прибыль и статус выполнения.

        Для получения метаданных в режиме реального времени используйте SSE-эндпоинт
        `GET /runs/{run_id}/meta/stream`.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Метаданные прогона
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunMeta'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /runs/{run_id}/result:
    get:
      summary: Загрузить результат прогона
      description: Отправляет ZIP-архив с результатами выбранного прогона.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: ZIP-архив
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /runs/{run_id}/share:
    patch:
      summary: Расшарить прогон
      description: |
        Делает прогон публично доступным для других пользователей (режим `filter=shared`).

        После успешного вызова прогон начинает появляться в списке общих прогонов.
        Повторный вызов для уже расшаренного прогона возвращает ошибку `400`.

        **Коды ошибок:**
        - `404` — прогон с указанным `run_id` не существует или не принадлежит текущему пользователю
        - `400` — прогон уже расшарен или `run_id` не прошёл валидацию на стороне сервиса
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
          description: Идентификатор прогона, который нужно расшарить.
      responses:
        '200':
          description: Прогон расшарен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRunResponse'
        '400':
          description: Некорректный запрос (прогон уже расшарен или невалидный аргумент)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404':
          description: Прогон не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: {type: string}
        '500': {$ref: '#/components/responses/InternalError'}
  /runs/{run_id}/meta/stream:
    get:
      summary: SSE-стрим метаданных прогона
      description: |
        Открывает Server-Sent Events (SSE) соединение и отдаёт метаданные прогона в реальном времени.

        Сервер опрашивает `GetRunMeta` каждые **2 секунды** и отправляет актуальный снимок
        метаданных как SSE-событие. Соединение держится открытым до завершения прогона.

        **Заголовки ответа:**
        ```
        Content-Type: text/event-stream
        Cache-Control: no-cache
        Connection: keep-alive
        X-Accel-Buffering: no
        ```

        **Формат событий:**

        Обычное обновление (каждые 2 с):
        ```
        data: {"id":"...","status":{"code":2,"name":"running"},...}
        ```

        Финальное событие при успехе (`status.code == 3`) или ошибке выполнения (`status.code == 4`):
        ```
        data: {"id":"...","status":{"code":3,"name":"done"},...}

        event: done
        ```

        Ошибка gRPC на стороне сервера:
        ```
        event: error
        data: описание ошибки
        ```

        **Условия закрытия соединения:**
        - Статус прогона стал `done` (code 3) или `failed` (code 4) — сервер отправляет `event: done` и закрывает соединение
        - Клиент разорвал соединение — сервер останавливает поллинг
        - gRPC вернул ошибку — сервер отправляет `event: error` и закрывает соединение

        **Валидация:** если `run_id` пустой, возвращается `400` **до** открытия SSE-соединения.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
          description: Идентификатор прогона. Не может быть пустым — иначе возвращается 400 до открытия соединения.
      responses:
        '200':
          description: SSE-поток метаданных прогона
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Поток SSE-событий. Каждое `data`-событие содержит JSON-объект `RunMeta`.
                  Поток завершается событием `event: done` или `event: error`.
              example: |
                data: {"id":"018f...","status":{"code":2,"name":"running"},"market":{"exchange":"bybit","category":"linear","symbol":"BTCUSDT"},"interval":"1h","fromTime":"2024-01-01T00:00:00Z","toTime":"2024-02-01T00:00:00Z","signalsCount":"0","avgProfit":0,"createdAt":"2024-03-01T12:00:00Z"}

                data: {"id":"018f...","status":{"code":3,"name":"done"},"signalsCount":"42","avgProfit":0.0083,...}

                event: done
        '400':
          description: run_id пустой или не передан
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: {type: string}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Неавторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: unauthorized
            message: Unauthorized
    Forbidden:
      description: Доступ запрещён
    InvalidInput:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: invalid_input
            message: email is required
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: not_found
            message: not_found
    Conflict:
      description: Конфликт данных
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: conflict
            message: already exists
    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: internal
            message: Internal server error
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          enum: [invalid_input, unauthorized, not_found, conflict, internal, bad_request]
        message:
          type: string
    RegisterRequest:
      type: object
      required: [email, password, inviteToken]
      properties:
        email: {type: string, format: email}
        password: {type: string, minLength: 8}
        inviteToken: {type: string}
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: {type: string, format: email}
        password: {type: string}
    LoginResponse:
      type: object
      properties:
        accessToken: {type: string}
        refreshToken: {type: string}
    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: {type: string}
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword: {type: string}
        newPassword: {type: string, minLength: 8}
    PasswordResetEmailRequest:
      type: object
      required: [email]
      properties:
        email: {type: string, format: email}
    ResetPasswordRequest:
      type: object
      required: [resetPasswordToken, newPassword]
      properties:
        resetPasswordToken: {type: string}
        newPassword: {type: string, minLength: 8}
    InviteToken:
      type: object
      properties:
        id: {type: string, format: uuid}
        createdBy: {type: string, format: uuid}
        expiresAt: {type: string, format: date-time}
        usedBy: {type: string, format: uuid, nullable: true}
        usedAt: {type: string, format: date-time, nullable: true}
        createdAt: {type: string, format: date-time}
    CreateInviteTokenResponse:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/InviteToken'
        link: {type: string}
    ListExchangeMetasResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExchangeMeta'
    ExchangeMeta:
      type: object
      properties:
        code: {type: string}
        categories: {type: array, items: {type: string}}
        intervals: {type: array, items: {type: string}}
        priceTypes: {type: array, items: {type: string}}
    ListSymbolsResponse:
      type: array
      items: {type: string}
    ListDetectorsResponse:
      type: array
      items:
        $ref: '#/components/schemas/DetectorMeta'
    DetectorMeta:
      type: object
      properties:
        code: {type: string}
        description: {type: string}
        kind: {type: string}
        optsSchema: {type: object}
    StartRunRequest:
      type: object
      required: [market, interval, fromTime, toTime, priceType, detector]
      properties:
        market:
          $ref: '#/components/schemas/MarketSpec'
        interval: {type: string, example: 1h}
        fromTime: {type: string, format: date-time}
        toTime: {type: string, format: date-time}
        priceType: {type: string, example: mark}
        detector:
          $ref: '#/components/schemas/DetectorConfig'
        fees:
          $ref: '#/components/schemas/Fees'
    StartRunResponse:
      type: object
      properties:
        runId: {type: string}
    MarketSpec:
      type: object
      required: [exchange, category, symbol]
      properties:
        exchange: {type: string}
        category: {type: string}
        symbol: {type: string}
    DetectorConfig:
      type: object
      required: [code]
      properties:
        code: {type: string}
        label: {type: string}
        opts:
          type: object
          additionalProperties: true
    Fees:
      type: object
      properties:
        takerFee: {type: number, format: float, example: 0.0005}
        makerFee: {type: number, format: float, example: 0.0001}
    RunStatus:
      type: object
      description: |
        Статус выполнения прогона.

        | code | name        | Описание                        |
        |------|-------------|---------------------------------|
        | 0    | unspecified | Статус не задан                 |
        | 1    | pending     | Прогон поставлен в очередь      |
        | 2    | running     | Прогон выполняется              |
        | 3    | done        | Прогон успешно завершён         |
        | 4    | failed      | Прогон завершился с ошибкой     |
      properties:
        code:
          type: integer
          enum: [0, 1, 2, 3, 4]
          example: 2
        name:
          type: string
          enum: [unspecified, pending, running, done, failed]
          example: running
        message:
          type: string
          description: Дополнительное сообщение (например, описание ошибки при status=failed).
          example: ""
    RunMeta:
      type: object
      description: Метаданные аналитического прогона.
      properties:
        id:
          type: string
          description: Идентификатор прогона.
        status:
          $ref: '#/components/schemas/RunStatus'
        market:
          $ref: '#/components/schemas/MarketSpec'
        interval:
          type: string
          example: 1h
        detector:
          $ref: '#/components/schemas/DetectorConfig'
        fromTime:
          type: string
          format: date-time
        toTime:
          type: string
          format: date-time
        signalsCount:
          type: string
          description: Количество сигналов, найденных детектором (строка для совместимости с int64).
          example: "42"
        avgProfit:
          type: number
          format: float
          description: Средняя прибыль по всем сигналам (в долях, например 0.0083 = 0.83%).
          example: 0.0083
        createdAt:
          type: string
          format: date-time
    ShareRunResponse:
      type: object
      properties:
        shared:
          type: boolean
          example: true
    ListRunsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RunMeta'
        nextBeforeId:
          type: integer
          nullable: true
          description: Курсор для следующей страницы. Передайте в параметр `beforeId` следующего запроса.
        hasMore:
          type: boolean
          description: Есть ли ещё страницы после текущей.
