openapi: 3.0.3
info:
  title: PulsoATS API
  version: 1.0.0
servers:
  - url: https://api.pulsoats.com
paths:
  /auth/register:
    post:
      summary: Регистрация пользователя
      description: Создаёт аккаунт по инвайт-токену и отправляет письмо для подтверждения email.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201': {description: Пользователь зарегистрирован}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/login:
    post:
      summary: Вход
      description: Проверяет учётные данные и выдаёт пару access/refresh токенов.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Токены выданы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/refresh:
    post:
      summary: Обновление токенов
      description: Обменивает refresh-токен на новую пару access/refresh.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/reset/request:
    post:
      summary: Запрос сброса пароля
      description: Отправляет письмо со ссылкой на смену пароля, если указанный email существует.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetEmailRequest'
      responses:
        '200': {description: Письмо отправлено}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/reset:
    post:
      summary: Сброс пароля
      description: Меняет пароль по токену из письма и отзывает активные сессии.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200': {description: Пароль обновлён}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/password/change:
    post:
      summary: Смена пароля
      description: Меняет пароль текущего пользователя и отзывает остальные сессии.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200': {description: Пароль изменён}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/verify:
    get:
      summary: Подтверждение email
      description: Подтверждает почту пользователя по токену из письма.
      tags: [auth]
      parameters:
        - in: query
          name: token
          required: true
          schema: {type: string}
      responses:
        '204': {description: Почта подтверждена}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/logout:
    delete:
      summary: Выход из текущей сессии
      description: Отзывает access/refresh токены активной сессии.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '204': {description: Выход выполнен}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /auth/logout-all:
    delete:
      summary: Выход из всех сессий
      description: Отзывает все сессии пользователя, кроме текущей.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '204': {description: Остальные сессии отозваны}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '500': {$ref: '#/components/responses/InternalError'}
  /admin/invite-tokens:
    post:
      summary: Создать инвайт-токен
      description: Админский эндпоинт для генерации разовой ссылки приглашения.
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '201':
          description: Инвайт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInviteTokenResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}
    get:
      summary: Список инвайт-токенов
      description: Возвращает все токены приглашений и их статус использования (только админ).
      tags: [auth]
      security: [ {bearerAuth: []} ]
      responses:
        '200':
          description: Список инвайтов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InviteToken'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '500': {$ref: '#/components/responses/InternalError'}
  /admin/invite-tokens/{token_id}:
    delete:
      summary: Отозвать инвайт-токен
      description: Удаляет неиспользованный инвайт-токен по идентификатору (только админ).
      tags: [auth]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: token_id
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204': {description: Инвайт отозван}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /market/exchanges/meta:
    get:
      summary: Список бирж
      description: Возвращает поддерживаемые биржи с категориями, интервалами и типами цен.
      tags: [market]
      security: [ {bearerAuth: []} ]
      responses:
        '200':
          description: Метаданные бирж
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExchangeMetasResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
  /market/symbols:
    get:
      summary: Список символов
      description: Возвращает инструменты для выбранной биржи и категории.
      tags: [market]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: query
          name: exchange
          required: true
          schema: {type: string}
        - in: query
          name: category
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Список инструментов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSymbolsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /detectors/meta:
    get:
      summary: Список детекторов
      description: Возвращает метаданные детекторов и схему их настроек.
      tags: [detectors]
      security: [ {bearerAuth: []} ]
      responses:
        '200':
          description: Метаданные детекторов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDetectorsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
  /runs:
    get:
      summary: Список прогонов
      description: Возвращает постраничный список аналитических прогонов пользователя. Используйте `limit` для размера страницы и `beforeId`, чтобы получить предыдущие страницы (значение передаётся из `nextBeforeId`).
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: query
          name: limit
          schema: {type: integer, minimum: 1, maximum: 100}
        - in: query
          name: beforeId
          schema: {type: integer}
      responses:
        '200':
          description: Страница прогонов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunsResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
    post:
      summary: Запустить прогон
      description: Стартует новый прогон для указанного рынка и детектора.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRunRequest'
      responses:
        '201':
          description: Прогон запущен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRunResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /runs/{run_id}/status:
    get:
      summary: Статус прогона
      description: Возвращает текущий статус выбранного прогона.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Текущий статус
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStatusResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /runs/{run_id}/meta:
    get:
      summary: Метаданные прогона
      description: Возвращает собранные метаданные выбранного прогона.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Метаданные прогона
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunMetaResponse'
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
  /runs/{run_id}/result:
    get:
      summary: Загрузить результат прогона
      description: Отправляет ZIP-архив с результатами выбранного прогона.
      tags: [analysis]
      security: [ {bearerAuth: []} ]
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: ZIP-архив
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
        '422': {$ref: '#/components/responses/InvalidInput'}
        '500': {$ref: '#/components/responses/InternalError'}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Неавторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: unauthorized
            message: Unauthorized
    Forbidden:
      description: Доступ запрещён
    InvalidInput:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: invalid_input
            message: email is required
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: not_found
            message: not_found
    Conflict:
      description: Конфликт данных
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: conflict
            message: already exists
    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: internal
            message: Internal server error
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          enum: [invalid_input, unauthorized, not_found, conflict, internal, bad_request]
        message:
          type: string
    RegisterRequest:
      type: object
      required: [email, password, inviteToken]
      properties:
        email: {type: string, format: email}
        password: {type: string, minLength: 8}
        inviteToken: {type: string}
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: {type: string, format: email}
        password: {type: string}
    LoginResponse:
      type: object
      properties:
        accessToken: {type: string}
        refreshToken: {type: string}
    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: {type: string}
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword: {type: string}
        newPassword: {type: string, minLength: 8}
    PasswordResetEmailRequest:
      type: object
      required: [email]
      properties:
        email: {type: string, format: email}
    ResetPasswordRequest:
      type: object
      required: [resetPasswordToken, newPassword]
      properties:
        resetPasswordToken: {type: string}
        newPassword: {type: string, minLength: 8}
    InviteToken:
      type: object
      properties:
        id: {type: string, format: uuid}
        createdBy: {type: string, format: uuid}
        expiresAt: {type: string, format: date-time}
        usedBy: {type: string, format: uuid, nullable: true}
        usedAt: {type: string, format: date-time, nullable: true}
        createdAt: {type: string, format: date-time}
    CreateInviteTokenResponse:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/InviteToken'
        link: {type: string}
    ListExchangeMetasResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExchangeMeta'
    ExchangeMeta:
      type: object
      properties:
        code: {type: string}
        categories: {type: array, items: {type: string}}
        intervals: {type: array, items: {type: string}}
        priceTypes: {type: array, items: {type: string}}
    ListSymbolsResponse:
      type: array
      items: {type: string}
    ListDetectorsResponse:
      type: array
      items:
        $ref: '#/components/schemas/DetectorMeta'
    DetectorMeta:
      type: object
      properties:
        code: {type: string}
        description: {type: string}
        kind: {type: string}
        optsSchema: {type: object}
    StartRunRequest:
      type: object
      required: [market, interval, fromTime, toTime, priceType, detector]
      properties:
        market:
          $ref: '#/components/schemas/MarketSpec'
        interval: {type: string, example: 1h}
        fromTime: {type: string, format: date-time}
        toTime: {type: string, format: date-time}
        priceType: {type: string, example: mark}
        detector:
          $ref: '#/components/schemas/DetectorConfig'
        fees:
          $ref: '#/components/schemas/Fees'
    StartRunResponse:
      type: object
      properties:
        runId: {type: string}
    MarketSpec:
      type: object
      required: [exchange, category, symbol]
      properties:
        exchange: {type: string}
        category: {type: string}
        symbol: {type: string}
    DetectorConfig:
      type: object
      required: [code]
      properties:
        code: {type: string}
        label: {type: string}
        opts:
          type: object
          additionalProperties: true
    Fees:
      type: object
      properties:
        takerFee: {type: number, format: float, example: 0.0005}
        makerFee: {type: number, format: float, example: 0.0001}
    RunStatusResponse:
      type: object
      properties:
        status: {type: string, example: running}
        message: {type: string}
    RunMeta:
      type: object
      properties:
        id: {type: string}
        market:
          $ref: '#/components/schemas/MarketSpec'
        interval: {type: string}
        detector:
          $ref: '#/components/schemas/DetectorConfig'
        fromTime: {type: string, format: date-time}
        toTime: {type: string, format: date-time}
        signalsCount: {type: string}
        avgProfit: {type: number, format: float}
        createdAt: {type: string, format: date-time}
    RunMetaResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/RunMeta'
    ListRunsResponse:
      type: object
      properties:
        metas:
          type: array
          items:
            $ref: '#/components/schemas/RunMeta'
        nextBeforeId:
          type: integer
          nullable: true
        hasMore:
          type: boolean
